body   {  margin: 0;  padding: 0;  }
body * {  font-family: Arial, Helvetica, sans-serif;  }
.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #c7cdd1;
    --bs-btn-border-color: #c7cdd1;
    --bs-btn-hover-color: #fff;
  }
  .bg-secondary {
    background-color: #c7cdd1 !important;
  }
  .border-gray {
    border: 1px solid gray;
  }
  .center-text {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.green-icon {
    color: green;
  }

  #wd-assignments {
    padding: 20px;
  }
  
  .wd-lesson-content {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
  }
  
  .wd-assignment-link {
    flex-grow: 1; /* Makes the link take up the remaining space */
  }

  #wd-css-styling-tables .table tbody tr:nth-child(odd) {
    background-color: #aa9d9d; /* Light grey for odd rows */
}

#wd-css-styling-tables .table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
}